*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Mulish', sans-serif;

    --color-base-white: hsl(196, 100%, 98%);
    --color-explorer-dark: hsl(195, 91%, 25%);
    --color-explorer-light: hsl(195, 46%, 40%);
    --color-text-dark: hsl(240, 6%, 8%);
    --color-text-light: hsl(240, 6%, 13%);
}

body{
    width: 100%;
    max-height: 100vh;
    font-size: 1.6rem;
}

.app{
    display: grid;
    grid-template-rows: max-content 1fr max-content;

    width: 100%;
    height: 100%;

    font-family: 'Mulish', sans-serif;
}


/* Header */
header{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    
    background-color: var(--color-explorer-dark);

    padding: 1.2rem 2.8rem;
}

.logo{
    width: 4.5rem;
    height: 4.5rem;

    padding: .8rem;

    border-radius: 50%;
    background-color: var(--color-base-white);
}

label{
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.search{
    flex: 1;
}

form input{
    width: 100%;
    
    padding: 1.2rem 1.6rem;
    
    border-radius: .4rem;
    border: none;
    background-color: var(--color-explorer-light);

    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}

form input::placeholder{
    color: var(--color-base-white);
}

.avatarIcon{
    display: flex;

    height: 4.5rem;
    width: 4.5rem;

    border-radius: 50%;
    object-fit: cover;
}


/* mainContent */
main{
   margin: 3.2rem 2.2rem;
}

.catBanner{
    max-width: 100%;
    height: auto;
    border-radius: 0 0 .5rem .5rem;
    margin: 0;
    aspect-ratio: 16/9;
    object-fit: cover;
    overflow: hidden;
}

.mainContent{
    margin: 3.2rem 2.2rem;
}

main{
    color: var(--color-text-light);
    line-height: 160%;

}

.flexHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 3.2rem 2.2rem 3.2rem 0rem;
}

.mainButtons{
    display: flex;
    gap: 1rem;
}

.upVote,
.downVote{
    display: flex;
    padding: 1.2rem;

    background-color: var(--color-explorer-dark);

    border: none;
    border-radius: 50%;
}

p{
    color: var(--color-text-dark);
    font-weight: 400;
}


/* sideBar */
aside{
    display: grid;
    gap: 3.2rem;

    margin: 3.4rem 0rem 4rem;
}

.cardList{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.card{
    display: flex;
    gap: 1.6rem;
    width: 38.2rem;

    overflow: hidden;
}

figcaption h3{
    font-size: 1.8rem;
    line-height: 160%;
}

figcaption p{
    font-size: 1.4rem;
}


/* ... */
footer{
    padding: 1.6rem;

    color: var(--color-base-white);
    font-weight: 600;
    text-align: center;

    background-color: var(--color-explorer-light);
}


/* BREAKPOINTS */
/* Phones */
@media (min-width: 425px) {
    .card{
        width: auto;
    }

    /* .card figcaption{
        flex: 1;
    } */
}


@media (max-width: 500px) {
    .mainHeader{
        display: flex;
        justify-content: space-between;
    }
}



/* Desktop */
@media (min-width: 1024px) {
    
    header{
        padding: 1.2rem 11.2rem;
    }
    
    main{
        display: grid;
        justify-content: center;

        grid-template-columns: 80rem 40rem;
        column-gap: 3.3rem;
    }

    .catBanner{

        border-radius: 5px;
    }

    .flexHeader{
        display: flex;
        justify-content: space-between;
    }

    .mainHeader{
        line-height: 160%;
    }

    aside{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}